<!-- Top -->
<header id="top" class="grid">
    <div class="logo">
      <a href="/">
        <p class="logo-top">{ CODE }</p>
        <p class="logo-bottom"><small>review</small></p>
      </a>
    </div>

    <!--Menu-->
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/codeSamples/new">New Review</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>

    <!-- Icon -->
    <!-- <div class="icon">
        <i class="fas fa-check-double"></i>
        <i class="fas fa-envelope"></i>
        <i class="fas fa-wifi"></i>
        <i class="fas fa-lock"></i>
    </div> -->
</header>
