<div class="nav-bar">
  <nav>
    <div class="nav-links">
      <a class="nav-btn logo site-name" href="#home"> <img src="…" alt="!{Stack}Overflow"> </a>
      <input type="text" placeholder="Search...">
      <a id="login-btn" class="account nav-btn" href="#login">Log In</a>
      <a id="register-btn" class="account nav-btn" href="#register">Register</a>
    </div>
  </nav>
</div>
