<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Review my Code</title>
    <!-- custom css here -->
  </head>
  <body>

    {{{ body }}}

    <!-- custom frontend javascript here -->
  </body>
</html>
