<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Review my Code</title>
    <!-- custom css here -->
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/home-styles.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323|Monoton|Oswald|Acme|Changa" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"> -->



  </head>
  <!-- <body bgcolor="chucknorris">

  </body> -->
  <body>

    {{> navbar }}
      {{{body}}}
    <!-- footer -->

    <!-- codemirror stuff -->
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
  </body>
</html>
