<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="PATCH" action="/codeSamples/{{codes.id}}?_method=PUT">
      {{> code-form }}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Story</button>
      </div>
    </form>
  </div>
</div>
