<form method="POST" action="/codeSamples/{{codes._id}}?_method=PATCH">
    {{> code-form }}
    <div class="button-container">
      <input class="button" type="button" onclick="window.location.replace('/codeSamples/{{codes._id}}')" value="Cancel" />
      <button class="save-button" type="submit">Save Edits</button>
      <button class="button delete-button" type="submit" formaction="/codeSamples/{{codes._id}}?_method=DELETE" >Delete</button>
    </div>
</form>
