body{
	padding: 3%;
	margin: 0;
	background-color: #262626;
}

/* HEADER */
#top{
	display: grid;
	box-sizing: border-box;
	position: relative;
	grid-template-columns: 2fr 8fr 1fr;
 	grid-template-rows: 50px;
 	grid-template-areas:
 	 	"logo menu icon"
}

/* Logo */
.logo > a{
	grid-area: logo;
	margin-left:50px;
	display: grid;
	justify-items: center;
	align-items: center;
}

.logo p{
	color: #ddd;
	padding:0;
	margin: 0;
	cursor: pointer;
	line-height: 20px;
	font-family: 'Monoton', cursive;
}

.logo .logo-top{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.logo .logo-bottom{
	text-decoration: none;
	font-size: 30px;
}

/* Menu */
.menu ul{
	display:flex;
	box-sizing: border-box;
}

.menu ul li{
	list-style: none;
	padding: 0 30px 0 0;
	box-sizing: border-box;
}

.menu ul li a{
	display: block;
	position: relative;
	text-decoration: none;
	color: #666666;
	font-family:'VT323', monospace;
	font-size: 25px;
	transition:.5s;
}

.menu ul li a:hover{
	color: #aaa;
}

.menu ul li a:before{
	content: "";
	display: block;
	width: 100%;
	height: 1.5px;
	position: absolute;
	bottom: -40%;
	background-color: #fff;
	transform: scaleX(0);
	transition: .5s;
}

.menu ul li a:hover:before{
	transform: scaleX(1);
}

/* Icon */
.icon{
	color:#666666;
	margin-top:-4%;
}

/* MAIN */
#main{
	padding-top: 25px;
}

/* Image */
.image img{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	box-shadow: -5px 5px 20px #000,5px 5px 20px #000;
	cursor: pointer;
}

.image ul{
	list-style: none;
	margin: 0;
	padding:0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 25px;
	grid-row-gap: 50px;
}

.image p{
	background:#bbb;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 15%;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
	color: #222;
	font-family: monospace;
	font-size: 1.6em;
	transition: .5s;
	cursor: pointer;
}

.image ul li:nth-child(5){
	height:100%;
}

.image ul li:hover p{
	color: #aaa;
	background-color: #333
}
.image ul li img:hover{
	background: black;
	opacity: 0.9;
}

/* Media */
@media(min-width: 600px) and (max-width:1000px){
	.image ul{
		list-style: none;
		margin: 0;
		padding:0;
		display: grid;
		grid-template-columns: repeat(2,minmax(auto,28em));
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		grid-row-gap: 60px;
	}
	#top{
		display: grid;
		box-sizing: border-box;
		position: relative;
		grid-template-columns: 1fr;
 		grid-template-rows: 1fr 1fr;
 		justify-items: center;
 		grid-template-areas:
 		"logo logo"
 		"menu menu"
 	 }
 	 .icon{
			display: none;
	 }
}

@media(min-width: 200px) and (max-width:600px){
	.image ul{
		list-style: none;
		margin: 0;
		padding:0;
		display: grid;
		grid-template-columns: repeat(1,minmax(auto,40em));
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 75px;
	}
	#top{
		display: grid;
		box-sizing: border-box;
		position: relative;
		grid-template-columns: 1fr;
 		grid-template-rows: 1fr;
 		justify-items: center;
 		grid-template-areas:
 		"logo"
 		"menu"
 	 }
 	 .icon{
	display: none;
	}
}
