.form-container, .form-container * {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 100%;
}

.form-container {
  margin-top: 5vh;
}

.form-container * {
  width: 80%;
}

.show-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 80%;
  margin-left: 10%;
}

.show-container * {
  width: 80%;
}

.show-container p, a, h1 {
  color: #a22;
  text-decoration: none;
}

/* .form-container * textarea, .form-continer input { */
.form-container * *:not(label):not(select) {
  background-color: #111;
  color: #ff3223;
  border: none;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
  overflow: none;
  resize: none;
}

.form-container * textarea:not(.form-snippet), .form-container * input:not(.form-link), .show-title, .show-description {
  font-family: 'Acme', sans-serif;
  letter-spacing: 1pt;
}

.form-container * textarea {
  max-width: 80%;
  min-width: 80%;
  max-height: 70vh;
}

.form-title, .show-title {
  font-size: 32px;
}

.form-link, .show-link {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}

.show-link, .show-edit-link {
  text-decoration: underline;
  font-size: 18px;
  color: #500000;
}

.show-edit-link {
  font-size: 28px;
  font-family: 'impact';
  letter-spacing: 3px;
}

.show-link {
  font-weight: bolder;
}

.show-snippet {
  color: #aaa;
}

.form-snippet {
  /* This doesnt really matter bc codemirror will be added */
}

.form-container * label {
  font-family: 'Changa', sans-serif;
  font-size: 32px;
  color: #755;
  white-space: pre-wrap;
}

button, .button {
  color: #aaa;
  background-color: #111;
  border: none;
  border-radius: 100vh;
  font-size: 24px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 50px;
}

.delete-button {
  background-color: red;
}

.new-button {
  background-color: blue;
}

.save-button {
  background-color: green;
}

.button-container {
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
  margin-right: 15%;
}

.button-container * {
  margin-left: 25px;
}
